$phone-width: 319px;
$tablet-portrait: 768px;
$tablet-landscape: 1025px;
$laptop-width: 1201px;
$desktop-1366-width: 1367px;
$desktop-1440-width: 1441px;
$desktop-1280-width: 1281px;

$chica-cyan: #84D8E3;
$chica-lightblu: #CBE0F5;
$chica-darkred: #A6223A;
$chica-red: #D54E66;
$chica-darkgray: #4B4B54;
$chica-gray: #808080;
$font-primary: 'Gloss Bloom', 'Arial';
$font-secondary: 'Josefin Sans';
$font-terciary: 'Caviar Dreams';

@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-portrait - 1px}) {
		@content;
	}
}

@mixin tablet-portrait {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : portrait) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : landscape) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}

@mixin desktop-1280 {
	@media (max-width: #{$desktop-1280-width - 1px}) {
		@content;
	}
}

@mixin desktop-1366 {
    @media (max-width: #{$desktop-1366-width - 1px}) {
        @content;
    }
}

@mixin desktop-1440 {
    @media (max-width: #{$desktop-1440-width - 1px}) {
        @content;
    }
}

@font-face {
    font-family: Gloss Bloom;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Gloss_And_Bloom.ttf');
}

@font-face {
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/CaviarDreams.woff');
}

@font-face {
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Caviar_Dreams_Bold.woff');
}

%bfaf {
  content: "";
  position: absolute;
  display: block;
}

.bg-image {
	object-fit: cover;
}

.cyan-text {
	color: $chica-cyan !important;
}

.cyan-bg {
	background-color: $chica-cyan !important;
	color: white !important;
}

.blu-text {
	color: $chica-lightblu !important;
}

.blu-bg {
	background-color: $chica-lightblu !important;
	color: white !important;
}

.red-text {
	color: $chica-red !important;
}

.red-bg {
	background-color: $chica-red !important;
	color: white !important;
}

.darkgray-text {
	color: $chica-darkgray !important;
}

.mg-hz-15 {
	&.negative {
		margin-left: -15px;
		margin-right: -15px;
	}

	margin-left: 15px;
	margin-right: 15px;
}

.main-btn {
	border-radius: 40px;
	padding: 0 25px;

	&:hover {
		color: white;
		background-color: $chica-lightblu;
	}
	&.right-aligned {
		position: absolute;
		right: 30px;
		bottom: 0;

		@include phone {
			position: relative;
			right: 0;
		}
	}
}

.main-loja-btn {
	border-radius: 0;

	background-color: $chica-cyan;
}

.loading-gif {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
}

html {
	overflow-y: auto;
}

.box-tab-nav:last-of-type {
	display: none !important;
}

// CORPO GERAL
body {
	background-color: #E8EAEE;

	h1, h2 {
		font-family: $font-primary
	}
    h3, h4, h5, h6 {
        font-family: $font-secondary;
    }
    p {
        font-family: $font-secondary;
		font-size: 16px;
    }
    img {
        vertical-align: middle;
    }
	.desktop-only {
		@include phone {
			display: none !important;
		}
	}
    .mobile-only {
        display: none !important;

        @include phone {
            display: block !important;
        }
    }
	.hidden {
		display: none !important;
	}
	.totop-holder {
		.backtotop {
			color: $chica-darkred;
		    border-radius: 0;
			transition: all ease .3s;

			&:hover {
				background-color: $chica-darkred;

				i {
					color: white;
				}
			}
		}
	}
}

// HEADER
header {
	.header-wrap {
		.sticky-wrapper {
			&.is-sticky {
				.header-position {
					width: 100% !important;

					.header-container {
						.row {
							height: 83px;

							.header-menu, .header-control-right {
								height: 83px;
							}
						}
					}
				}
			}
			.header-position {
				.header-container {
					.row {
						height: 94px;

						.header-menu, .header-control-right {
							height: 94px;
							display: flex;
							align-items: center;
						}
						.header-control-right {
							justify-content: flex-end;
						}
					}
				}
			}
		}
	}
	.header-mobile {
		.logo {
			img {
				max-width: 100%;
			}
		}
	}
}

// FOOTER
footer {
	position: relative;
	padding: 20px 0;

	&:after, &:before {
		@extend %bfaf;
		top: 0;
		width: 50%;
		height: 100%;
		z-index: -1;

		@include phone {
			width: 100%;
		}
	}
	&:before {
		background-color: $chica-red;
		left: 0;

		@include phone {
			top: 0;
			height: 100%;
		}
	}
	&:after {
		background-color: $chica-lightblu;
		right: 0;

		@include phone {
			top: 65%;
			height: 40%;
		}
	}
	.footer-wrapper {
		display: flex;
		align-items: center;
		padding: 25px 0;
		max-width: 100%;
		padding-left: 35px;
		padding-right: 35px;
		justify-content: center;

		@include phone {
			flex-direction: column;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
		}
		p {
			color: white;
			margin-bottom: 0;
		}
		// .textwidget {
		// 	&.custom-html-widget {
		// 		display: flex;
		// 		justify-content: center;
		// 		flex-direction: column;
		// 	}
		// }
		.meta-content {
			display: flex;
			align-items: center;

			@include phone {
				display: block;
				margin-top: 30px;
			}
			.img-wrapper {
				display: flex;

				@include phone {
					width: 100%;
					justify-content: center;
				}
				img {
					width: 36px;

					&:last-of-type {
						margin: 0 10px 0 3px;

						@include desktop-1280 {

							margin-right: 2px;
						}
					}
				}
			}
			p {
				font-size: 20px;
				text-transform: uppercase;
				position: absolute;
				right: 15px;

				@include phone {
					position: relative;
					text-align: center;
					right: auto;
					margin-top: 30px;
				}
			}
		}
		.framed-box {
			border: 2px solid white;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			margin-top: 40px;

			img {
				width: 36px;
			}
			p {
				text-transform: uppercase;
				font-size: 18.1px;
				margin-bottom: 5px;
				margin-top: 6px;

				@include desktop-1440 {
					font-size: 16.9px;
				}
				@include desktop-1366 {
					font-size: 15.4px;
				}
				@include desktop-1280 {
					font-size: 14.1px;
				}
				&:last-of-type {
					font-size: 22.8px;
					margin-top: 0;
					margin-bottom: 0;

					@include desktop-1440 {
						font-size: 21px;
					}
					@include desktop-1366 {
						font-size: 18.9px;
					}
					@include desktop-1280 {
						font-size: 17px;
					}
				}
			}
		}
		.menu-rodape-container {
			@include phone {
				margin-top: 60px;
			}
		}
		.menu {
			list-style: none;
			padding-left: 0;

			.menu-item {
				font-family: $font-secondary;

				a {
					color: $chica-red;
					position: relative;
					padding: 10px 0;
					// padding-left: 15px;
					font-size: 1rem;
					text-transform: uppercase;
					transition: all ease 0.2s;

					&:hover, &.active {
						padding-left: 10px;
						&:before {
							opacity: 1;
						}
					}
					&:before {
						@extend %bfaf;
						width: 1px;
						height: 100%;
						top: 0;
						left: 0;
						background-color: $chica-red;
						opacity: 0;
						transition: all ease 0.3s;
					}
				}
			}
		}
	}
}

#hits {
	padding: 80px 0;
	margin-top: 100px;

	@include phone {
		margin-top: 0;
		padding-top: 30px;
	}
	.col-md-12 {
		@include phone {
			display: flex;
			flex-direction: column-reverse;
		}
		&.col-3-wrapper {
			margin-top: 30px;
		}
		&:not(.col-3-wrapper) {
			&:before {

			}
		}
	}
	.col-md-6 {
		&:first-of-type {
			&:after {
				@extend %bfaf;
				width: 80%;
				height: calc(100% + 140px);
				border: 5px solid #84d8e3;
				left: 35%;
				top: -100px;

				@include phone {
					content: none;
				}
			}
			img {
				position: relative;
				z-index: 1;
			}
		}
	}
	.col-md-4 {
		@include phone {
			margin-bottom: 30px;
		}
	}
	.section-meta {
		display: flex;

		@include phone {
			flex-direction: column;
		}
		.section-title {
			font-size: 5.5rem;
			letter-spacing: 20px;
			margin-right: 30px;
			position: relative;
			z-index: 0;

			@include phone {
				margin-top: 35px;
			}
			&:before {
				@extend %bfaf;
				width: 100%;
				height: 80%;
			    background-color: #fff;
			    top: -50px;
			    z-index: -1;
			}
		}
		.meta-content {
			padding-top: 30px;

			@include phone {
				padding-top: 0;
			}
			.section-subtitle {
				margin-bottom: 10px;;
				text-transform: uppercase;
				font-size: 2rem;
				color: #808778;
				font-weight: 300;
			}
			p {
				margin-bottom: 0;
				padding-right: 25px;
				color: #808778;
				font-weight: 300;
			}
			.btn-container {
				position: relative;
				padding-top: 45px;
				margin-bottom: 30px;
			}
			.main-btn {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
	.img-container {
		@include phone {
			margin-bottom: 30px;
		}
		.bg-image {
			width: 100%;
			height: 471px;

			@include desktop-1440 {
				height: 471px;
			}
		}
	}
}

#dna {
	background-color: #f6f6f6;
	padding: 80px 0;

	.section-title {
		font-size: 5.5rem;
		letter-spacing: 20px;
		margin-bottom: -30px;

		@include phone {
			text-align: center;
			font-size: 4.0rem;
		}
	}
	p {
		margin-bottom: 0;
	}
	.col-md-12 {
		display: flex;
		margin-bottom: 15px;

		@include phone {
			padding: 0;
			flex-direction: column;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.dna-box-wrapper {
		position: relative;

		.chica-logo {
			width: 350px;
			margin-left: 90px;

			@include phone {
				margin-left: 0;
				margin-bottom: 45px;
			}
		}
		.dna-box {
			padding: 30px;
			display: inline-flex;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			left: 0;
			min-width: 350px;

			@include phone {
				position: relative;
				min-width: 0;
				width: 100%;
			}
			&.red-bg {
				.box-title {
					color: white;
				}
				p {
					color: white;
				}
			}
			&.right-aligned {
				right: 0;
				left: auto;
			}
			&.top-aligned {
				bottom: auto;
				top: 0;
			}
			&.full-sized {
				width: 100%;
				height: 100%;
				position: relative;
				left: -15px;
				width: calc(100% + 15px);

				@include phone {
					width: 100%;
					left: 0;
				}
				p {
					position: absolute;
					bottom: 30px;
					right: 30px;

					@include phone {
						position: relative;
						bottom: 0;
						right: 0;
					}
				}
			}
			.box-title {
				font-size: 2.5rem;
				font-family: $font-primary;
				margin-bottom: 30px;

				@include phone {
					font-size: 2rem;
				}
				span {
					display: block;
					padding-left: 60px;
				}
			}
			p {
				text-align: right;
				color: $chica-darkgray;
				text-transform: uppercase;
				font-size: 1.5rem;
				line-height: 42px;
			}
		}
	}
}

#instragram-section {
	padding: 60px 0;

	.section-title {
		text-align: center;
		font-family: $font-secondary;
		text-transform: uppercase;
		font-family: $font-terciary;
		font-weight: 700;
		font-size: 2.8rem;

		span {
			display: block;
			text-transform: lowercase;
			font-weight: 400;
			font-size: 2.2rem;
		}
	}
	#sb_instagram {
		#sbi_images {
			.sbi_item {
				@include phone {
					width: 33.3%;
				}
				&:last-of-type {
					display: none;

					@include phone {
						display: block;
						float: left;
					}
				}
				.sbi_photo {
					@include phone {
						height: 150px !important;
					}
				}
			}
		}
	}
}

.header-pos-relative {
	.banner-page {
		&.has_background {
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
	}
}

.page-template-template-contato,
.page-template-template-lojas {
	.banner-page {
		@include phone {
			height: 230px;
			min-height: 230px !important;
		}
		.content-banner {
			.title-page.page-title {
				text-transform: uppercase;
				display: inline-flex;
				position: relative;
				font-weight: 300;
				letter-spacing: 2px;
				padding-bottom: 20px;

				&:before {
					transform: none;
					left: 0;
					width: 70px;
					border: 2px solid white;
				}
			}
		}
	}
	.container {
		// max-width: 700px;

		.section-info {
			text-transform: uppercase;
			color: #808778;
			position: relative;
			display: flex;

			@include phone {
				font-size: 1.3rem;
			}
			&.with-border {
				margin-bottom: 15px;
				padding-bottom: 5px;

				&:after {
					@extend %bfaf;
					background-color: $chica-red;
					height: 3px;
					width: 75px;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
}

// CONTATO
.page-template-template-contato {
	.container {
		max-width: 500px;
	}
	.banner-page {
		&.has_background {
			.content-banner {
				// bottom: 70%;
			}
		}
		.content-banner {
			.container {
				text-align: right;
				max-width: 100%;
			}
		}
	}
	.wpp-container {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    border: 3px solid $chica-lightblu;
	    border-radius: 100px;
	    padding: 10px 65px;
	    margin-bottom: 60px;

		@include phone {
			padding: 10px 0;
		}
		img {
			height: 40px;
		}
		p, a {
			margin-bottom: 0;
			margin-left: 10px;
			color: $chica-lightblu;
			font-size: 2rem;
		}
	}
	.frm_style_formidable-style.with_frm_style {
		label.frm_primary_label {
			font-family: $font-secondary;
			color: #808778
		}
		.frm_button_submit {
			border-radius: 0;
			outline: none;
			border: none;
			font-family: $font-secondary;
			padding: 20px 50px 15px;
			margin-bottom: 40px;
		}
		.frm_form_field {
			&.form-field {
				textarea, input {
					border-radius: 0;
					resize: none;
				}
				input {
					height: 45px;
				}
			}
		}
	}
}

.page-template-template-lojas {
	.lojas-template {
		.col-md-6 {
			padding: 0 30px;

			@include phone {
				padding: 0;
			}
		}
	}
	.banner-page {
		&.has_background {
			.content-banner {
				bottom: 25%;
			}
		}
		.content-banner {
			.container {
				text-align: left;
			}
		}
	}
	.item-title {
		font-size: 2rem;
		text-transform: uppercase;
		color: #808778;
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 5px;

		&:after {
			@extend %bfaf;
			background-color: $chica-red;
			height: 3px;
			width: 75px;
			bottom: 0;
			left: 0;
		}
	}
	.loja-box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px 0;

		@include phone {
			flex-direction: column;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;

			@include phone {
				flex-direction: column;
			}
		}
		p {
			margin-bottom: 0;
		}
	}
	#resorts-container {
		padding: 60px 0;

		.section-title {
			padding: 0 45px;
			margin-bottom: 60px;

			@include phone {
				padding: 0 15px;
			}
			img {
				max-width: 400px;

				@include phone {
					width: 100%;
				}
			}
			h3 {
				padding-left: 45px;
				color: #808778;
				text-transform: uppercase;
				margin-top: 10px;
				letter-spacing: 1.3px;
				font-size: 2rem;

				@include phone {
					font-size: 1.4rem;
					padding-left: 20px;
				}
			}
		}
		#resorts-wrapper {
			margin-bottom: 30px;

			.col-md-4, .col-md-3 {
				padding: 0;
			}
			.resort-meta {
				padding: 45px;

				@include phone {
					padding: 20px 25px;
				}
			}
		}
	}
}

// LISTAGEM DE PRODUTOS
.produtos-page {
	margin-top: 50px;

	.section-description {
		position: relative;
		margin-bottom: 45px;

		@include phone {
			margin-bottom: 0;
		}
		.section-title {
			font-family: $font-secondary;
			text-transform: uppercase;
			color: #808080;
		}
		p {
			font-size: 1.1rem;
		}
		.main-btn {
			padding-top: 4px;
			padding-bottom: 1px;
		}
	}
	.filtros-wrapper {
		margin-bottom: 50px;

		.filtros {
			display: flex;
			list-style: none;
			border-top: 1px solid #808080;
			border-bottom: 1px solid #808080;
			padding-left: 0;

			.filtros-item {
				flex-grow: 1;
				flex-basis: 0;
				text-align: center;
				font-size: 1.2rem;
				text-transform: uppercase;
				font-weight: 100;
				position: relative;
				top: 2px;
				cursor: pointer;
				padding: 10px 0;
				line-height: 1.2rem;
				transition: all .2s ease;
				font-family: $font-secondary;

				&:after {
					@extend %bfaf;
					right: 0;
					background-color: #808080;
					width: 1px;
					height: calc(100% - 16px);
					top: 6px;
				}
				&:last-of-type {
					&:after {
						content: none;
					}
				}
				&:hover, &.active {
					font-weight: 700;
					// background-color: #808080;
					// color: #fff;
					//
					// .filtros-item {
					// 	&:after {
					// 		top: 0;
					// 		height: 100%;
					// 	}
					// }
				}
			}
		}
		.filtros-mobile {
			width: 100%;
			border-radius: 20px !important;
			padding-right: 10px;
		}
	}
	.produtos-wrapper {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 45px;

		&.items-wrapper {
			.item {
				margin: 15px 0;
				height: 460px;

				@include phone {
					height: auto;
					padding: 0 8px;
				}
				&.destaque {
					height: 950px;

					@include phone {
						height: auto;
					}
					img {
						height: 890px;

						@include phone {
							height: 300px;
							width: 100%;
							object-fit: cover;
						}
					}
				}
				img {
					height: 400px;
					object-fit: cover;

					@include phone {
						height: 175px;
						width: 100%;
						object-fit: cover;
					}
				}
				.img-wrapper {
					position: relative;

					.destaque-tag {
						position: absolute;
						background-color: $chica-red;
						color: white;
						right: 0;
						bottom: 15px;
						padding-left: 10px;
						padding-right: 10px;
						text-transform: uppercase;
					}
				}
				.item-title {
					padding: 10px 0;

					@include phone {
						margin-bottom: 0;
						padding-bottom: 0;
						height: 45px;
					}
				}
			}
		}
	}
}

// INTERNA DE PRODUTOS
.product-template-default {
	&.single {
		.tesseract-product-inner {
			.detail-content {
				.entry-title {
					font-family: $font-secondary;
					text-transform: uppercase;
					font-weight: 500;
					font-size: 32px;
				}
			}
		}
	}
}

// PÁGINA DE CHECKOUT
.woocommerce-page {
	.main-content {
		padding: 0;
	}
	.content-banner {
		.container {
			text-align: right;
			max-width: 100%;

			.title-page {
				&.page-title {
					text-transform: uppercase;
				    display: inline-flex;
				    position: relative;
				    font-weight: 300;
				    letter-spacing: 2px;
				    padding-bottom: 20px;
					color: black !important;
					top: 50px;
					font-weight: 500;

					&:before {
						transform: none;
					    right: 10px;
						left: auto;
					    width: 70px;
					    border: 2px solid black;
					}
				}
			}
		}
	}
}

.woocommerce {
	.checkout-before-top {
		.ciloe-checkout-login {
			float: none;
			width: 100%;

			&~ .ciloe-checkout-coupon {
				width: 100%;
				float: none;
			}
			.login {
				padding: 0;
			}
		}
		.woocommerce-info {
			font-family: $font-secondary;
			font-weight: 700;
		}
	}
	.login-form-container {
		background-color: #F2F2F2;
		margin: 30px 0;
		padding-top: 35px;
		padding-bottom: 20px;

		.login-cta-wrapper {
			display: flex;
			width: 100%;
			align-items: center;

			.main-loja-btn {
				background-color: $chica-cyan;
				color: #fff;
				margin-bottom: 0;
				width: auto;
				padding-left: 60px;
				padding-right: 60px;
			}
			.lost_password {
				margin-bottom: 0;
				text-decoration: underline;
				margin-left: 15px;
				font-size: 13px;

				&:before {
					content: none;
				}
			}
		}
	}
	.woocommerce-order {
		h2 {
			font-family: $font-secondary;
			text-transform: uppercase;

			&.section-title {
				font-family: $font-primary;
				font-size: 64px;
				text-transform: capitalize;
			}
		}
		.meta-content {
			text-align: center;
			padding: 15px 0 30px;
			margin-bottom: 30px;

			.section-title {
				position: relative;
				left: -7%;
			}
			p {
				color: black;
				text-transform: uppercase;
				font-weight: 700;
				position: relative;
				top: -13px;
				font-size: 18px;
				margin-bottom: 0;
			}
			.main-loja-btn {
				color: #fff;
				text-transform: uppercase;
				padding: 12px 70px;
			}
		}
		.woocommerce-order-overview {
			border: 2px solid #e3e3e3;
			padding-top: 15px;
			background-color: #fff;
			margin-bottom: 20px;
		}
	}
	.woocommerce-billing-fields, .woocommerce-shipping-fields {
		h2, h3 {
			font-family: $font-secondary;
			font-weight: 700;
			margin-bottom: 30px;
		}
		label {
			font-family: $font-secondary;
		}
		#billing_phone_field {
			width: calc(50% - 20px);
		}
		#billing_address_2_field {
			height: 90px;
		}
	}
	p.form-row:not(#order_comments_field) {
		height: 90px;
	}
	.woocommerce-form__label-for-checkbox {
		&:hover {
			span {
				&:before {
					background-color: $chica-cyan;
					border-color: $chica-cyan;
				}
			}
		}
		.woocommerce-form__input-checkbox {
			&:checked {
				&+ span {
					&:before {
						background-color: $chica-cyan;
						border-color: $chica-cyan;
					}
				}
			}
		}
	}
	#place_order {
		background-color: $chica-cyan;
	}
	.shipping, .wc_payment_methods {
		input[type="radio"] {
			&:checked {
				&+ label {
					&:before {
						background: $chica-cyan;
						border-color: $chica-cyan;
					}
				}
			}
		}
	}
	.woocommerce-cart-form {
		.cart-items-wrapper {
			border: 2px solid $chica-gray;
			margin-bottom: 15px;

			.cart-header {
				display: grid;
				grid-template-columns: 4fr 2fr 2fr 2fr 1fr;
				border-bottom: 1px solid $chica-gray;
				padding: 10px 15px;
				// justify-items: center;

				div {
					display: flex;
					align-items: center;
					justify-content: center;
					color: black;
					text-transform: uppercase;
					font-family: $font-secondary;
					font-weight: 700;

					&.product-name {
						justify-content: flex-start;
					}
				}
			}
			.cart-items {
				.cart-item {
					display: grid;
					grid-template-columns: 4fr 2fr 2fr 2fr 1fr;
					// justify-items: center;
					align-items: center;
					height: 150px;
					padding: 10px 15px;
					border-bottom: 1px solid $chica-gray;
					font-family: $font-secondary;
					font-weight: 500;

					&:last-of-type {
						border-bottom: none;
					}
					.product-name, .product-price, .product-quantity, .product-subtotal, .product-remove {
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.product-name {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						height: 130px;
						text-transform: uppercase;
						font-weight: 700;

						a {
							&:first-of-type {
								max-height: 100%;
								height: 100%;
								margin-right: 12px;
							}
							&:hover, &:focus {
								color: $chica-gray;
							}
						}
						img {
							height: 100%;
							width: 100px;
							object-fit: cover;
						}
					}
					.product-price {
						color: $chica-cyan;
						font-size: 20px;
					}
					.product-quantity {
						.control {
							border: 2px solid black;
							padding-right: 10px;

							input {
								border: none;
								font-size: 20px;
								width: 50px;
								padding: 0 5px;
								text-align: center;
							}
						}
					}
					.product-subtotal {
						font-size: 20px;
					}
					.product-remove {
						font-size: 56px;
						justify-content: flex-end;

						img {
							width: 18px;
						}
					}
				}
			}
		}
		.cart-actions {
			.actions {
				display: flex;
				justify-content: flex-end;

				button {
					background-color: $chica-cyan;

					&[disabled] {
						background-color: #e3e3e3;
						cursor: not-allowed;
					}
				}
			}
		}
		.shop_table {
			border: none;
		}
		.cupom-wrapper {
			border: 2px solid $chica-gray;
			padding: 30px 15px;
			margin-bottom: 40px;
			margin-top: 20px;

			.coupon {
				display: flex;
				align-items: center;
				justify-content: space-between;

				label {
					text-transform: uppercase;
					font-family: $font-secondary;
					padding-left: 40px;
					padding-right: 30px;
					margin-bottom: 0;
					font-size: 20px;
				}
				input {
					width: 65%;
					font-family: $font-secondary;
					text-transform: uppercase;
					border-color: #e3e3e3;
					font-weight: 500;
				}
				button {
					background-color: $chica-cyan;
					font-family: $font-secondary;
					padding: 0 50px;
				}
			}
		}
	}
	.cart-collaterals {
		.cart_totals {
			font-family: $font-secondary;

			h2 {
				font-size: 16px;
			}
			.checkout-button {
				background-color: $chica-cyan;
				font-family: $font-secondary;
				font-weight: 700;
				letter-spacing: 2px;
				font-size: 14px;
			}
		}
	}
}

.single-product {
	.wrapper_menu-sticky {
		&.sticky-info_single_wrap {
			footer {
				&.footer {
					margin-bottom: 0;
				}
			}
		}
	}
	.social-share-product {
		display: none;
	}
	.shop-page {
		&.main-container {
			padding-top: 60px;
		}
	}
	.main-product {
		.main-content-product {
			margin-bottom: 60px;

			.woocommerce-product-gallery {
				overflow: inherit;
			}
			.flex-control-nav {
				&.flex-control-thumbs {
					height: 768px !important;

					.slick-list {
						height: 100% !important;
					}
					.slick-arrow {
						background-color: transparent;
						font-size: 30px;

						&:not(.slick-disabled) {
							visibility: visible;
							opacity: 1;
						}
						&.fa-angle-up {
							top: 20px;
						}
						&.fa-angle-down {
							bottom: 0;
						}
					}
				}
			}
			.detail-content {
				.summary {
					.product_title {
						font-family: $font-secondary;
						text-transform: uppercase;
						color: $chica-gray;
					}
					.variation {
						.variation-title {
							label {
								text-transform: uppercase;
								font-family: $font-secondary;

								&:before {
								    width: 30px;
								    border-top: none;
								    top: -3px;
								    height: 4px;
								    background-color: $chica-darkred;

								}
								&:after {
									content: none;
								}
							}
						}
						.value {
							.change-value {
								font-family: $font-secondary;
								padding-top: 5px;

								&.active {
									border-width: 2px;
								}
							}
						}
					}
					.quantity {
						height: 51px;

						.input-qty {
							height: 48px;
						}
					}
					.tesseract-add-to-cart-button {
						background-color: $chica-darkred;
						display: flex;
						align-items: center;
						justify-content: center;
						color: white;
						transition: all ease 0.4s;

						&:hover, &:focus {
							// color: black;
							background-color: $chica-red;
						}
						svg {
							width: 25px;
							margin-left: 10px;
							margin-bottom: 2px;
						}
					}
				}
			}
		}
		.related {
			&.products {
				.product-grid-title {
					font-family: $font-secondary;
					text-transform: uppercase;
					font-weight: 500;
					color: $chica-gray;

					&:before {
						height: 3px;
						background-color: $chica-darkred;
					}
				}
				.product-item {
					.product-inner {
						.product-info {
							.info-top {
								display: flex;
								align-items: flex-start;
								padding-top: 5px;

								.info-meta {
									width: 70%;

									.product-title {
										font-family: $font-secondary;
										color: $chica-gray;
										font-size: 18px;
									}
									.product-price {
										font-family: $font-secondary;
									}
								}
								.info-link {
									width: 30%;
									text-align: right;

									&:hover, &:focus {
										color: $chica-gray;
									}
									svg {
										width: 15px;
									}
								}
							}
						}
					}
				}
				.owl-dots {
					.owl-dot {
						&.active {
							background-color: $chica-darkred;
						}
					}
				}
			}
		}
	}
}
