$phone-width: 319px;
$tablet-portrait: 768px;
$tablet-landscape: 1025px;
$laptop-width: 1201px;
$desktop-1366-width: 1367px;
$desktop-1440-width: 1441px;
$desktop-1280-width: 1281px;

$chica-cyan: #84D8E3;
$chica-lightblu: #CBE0F5;
$chica-red: #D54E66;
$chica-darkgray: #4B4B54;
$font-primary: 'Gloss Bloom', 'Arial';
$font-secondary: 'Josefin Sans';
$font-terciary: 'Caviar Dreams';

@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-portrait - 1px}) {
		@content;
	}
}

@mixin tablet-portrait {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : portrait) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : landscape) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}

@mixin desktop-1280 {
	@media (max-width: #{$desktop-1280-width - 1px}) {
		@content;
	}
}

@mixin desktop-1366 {
    @media (max-width: #{$desktop-1366-width - 1px}) {
        @content;
    }
}

@mixin desktop-1440 {
    @media (max-width: #{$desktop-1440-width - 1px}) {
        @content;
    }
}

@font-face {
    font-family: Gloss Bloom;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Gloss_And_Bloom.ttf');
}

@font-face {
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/CaviarDreams.woff');
}

@font-face {
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Caviar_Dreams_Bold.woff');
}

%bfaf {
  content: "";
  position: absolute;
  display: block;
}

.bg-image {
	object-fit: cover;
}

.cyan-text {
	color: $chica-cyan !important;
}

.cyan-bg {
	background-color: $chica-cyan !important;
	color: white !important;
}

.blu-text {
	color: $chica-lightblu !important;
}

.blu-bg {
	background-color: $chica-lightblu !important;
	color: white !important;
}

.red-text {
	color: $chica-red !important;
}

.red-bg {
	background-color: $chica-red !important;
	color: white !important;
}

.darkgray-text {
	color: $chica-darkgray !important;
}

.main-btn {
	border-radius: 40px;
	padding: 0 25px;

	&:hover {
		color: white;
		background-color: $chica-lightblu;
	}
	&.right-aligned {
		position: absolute;
		right: 30px;
		bottom: 0;

		@include phone {
			position: relative;
			right: 0;
		}
	}
}

.loading-gif {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
}

html {
	overflow-y: auto;
}

.box-tab-nav:last-of-type {
	display: none !important;
}

// CORPO GERAL
body {
	background-color: #E8EAEE;

	h1, h2 {
		font-family: $font-primary
	}
    h3, h4, h5, h6 {
        font-family: $font-secondary;
    }
    p {
        font-family: $font-secondary;
		font-size: 16px;
    }
    img {
        vertical-align: middle;
    }
	.desktop-only {
		@include phone {
			display: none !important;
		}
	}
    .mobile-only {
        display: none !important;

        @include phone {
            display: block !important;
        }
    }
	.hidden {
		display: none !important;
	}
}

// HEADER
header {
	.header-wrap {
		.sticky-wrapper {
			&.is-sticky {
				.header-position {
					width: 100% !important;

					.header-container {
						.row {
							height: 83px;

							.header-menu, .header-control-right {
								height: 83px;
							}
						}
					}
				}
			}
			.header-position {
				.header-container {
					.row {
						height: 94px;

						.header-menu, .header-control-right {
							height: 94px;
							display: flex;
							align-items: center;
						}
						.header-control-right {
							justify-content: flex-end;
						}
					}
				}
			}
		}
	}
	.header-mobile {
		.logo {
			img {
				max-width: 100%;
			}
		}
	}
}

// FOOTER
footer {
	position: relative;
	padding: 20px 0;

	&:after, &:before {
		@extend %bfaf;
		top: 0;
		width: 50%;
		height: 100%;
		z-index: -1;

		@include phone {
			width: 100%;
		}
	}
	&:before {
		background-color: $chica-red;
		left: 0;

		@include phone {
			top: 0;
			height: 100%;
		}
	}
	&:after {
		background-color: $chica-lightblu;
		right: 0;

		@include phone {
			top: 65%;
			height: 40%;
		}
	}
	.footer-wrapper {
		display: flex;
		align-items: center;
		padding: 25px 0;
		max-width: 100%;
		padding-left: 35px;
		padding-right: 35px;
		justify-content: center;

		@include phone {
			flex-direction: column;
			padding-bottom: 0;
		}
		p {
			color: white;
			margin-bottom: 0;
		}
		// .textwidget {
		// 	&.custom-html-widget {
		// 		display: flex;
		// 		justify-content: center;
		// 		flex-direction: column;
		// 	}
		// }
		.meta-content {
			display: flex;
			align-items: center;

			img {
				width: 36px;

				&:last-of-type {
					margin: 0 10px 0 3px;

					@include desktop-1280 {

						margin-right: 2px;
					}
				}
			}
			p {
				font-size: 20px;
				text-transform: uppercase;
				position: absolute;
				right: 15px;
			}
		}
		.framed-box {
			border: 2px solid white;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			margin-top: 40px;

			img {
				width: 36px;
			}
			p {
				text-transform: uppercase;
				font-size: 18.1px;
				margin-bottom: 5px;
				margin-top: 6px;

				@include desktop-1440 {
					font-size: 16.9px;
				}
				@include desktop-1366 {
					font-size: 15.4px;
				}
				@include desktop-1280 {
					font-size: 14.1px;
				}
				&:last-of-type {
					font-size: 22.8px;
					margin-top: 0;
					margin-bottom: 0;

					@include desktop-1440 {
						font-size: 21px;
					}
					@include desktop-1366 {
						font-size: 18.9px;
					}
					@include desktop-1280 {
						font-size: 17px;
					}
				}
			}
		}
		.menu-rodape-container {
			@include phone {
				margin-top: 60px;
			}
		}
		.menu {
			list-style: none;
			padding-left: 0;

			.menu-item {
				font-family: $font-secondary;

				a {
					color: $chica-red;
					position: relative;
					padding: 10px 0;
					// padding-left: 15px;
					font-size: 1rem;
					text-transform: uppercase;
					transition: all ease 0.2s;

					&:hover, &.active {
						padding-left: 10px;
						&:before {
							opacity: 1;
						}
					}
					&:before {
						@extend %bfaf;
						width: 1px;
						height: 100%;
						top: 0;
						left: 0;
						background-color: $chica-red;
						opacity: 0;
						transition: all ease 0.3s;
					}
				}
			}
		}
	}
}

#hits {
	padding: 80px 0;
	margin-top: 100px;

	@include phone {
		margin-top: 0;
		padding-top: 30px;
	}
	.col-md-12 {
		@include phone {
			display: flex;
			flex-direction: column-reverse;
		}
		&.col-3-wrapper {
			margin-top: 30px;
		}
		&:not(.col-3-wrapper) {
			&:before {

			}
		}
	}
	.col-md-6 {
		&:first-of-type {
			&:after {
				@extend %bfaf;
				width: 80%;
				height: calc(100% + 255px);
				border: 5px solid #84d8e3;
				left: 35%;
				top: -100px;

				@include phone {
					content: none;
				}
			}
			img {
				position: relative;
				z-index: 1;
			}
		}
	}
	.col-md-4 {
		@include phone {
			margin-bottom: 30px;
		}
	}
	.section-meta {
		display: flex;

		@include phone {
			flex-direction: column;
		}
		.section-title {
			font-size: 5.5rem;
			letter-spacing: 20px;
			margin-right: 30px;
			position: relative;
			z-index: 0;

			@include phone {
				margin-top: 35px;
			}
			&:before {
				@extend %bfaf;
				width: 100%;
				height: 80%;
			    background-color: #fff;
			    top: -50px;
			    z-index: -1;
			}
		}
		.meta-content {
			padding-top: 30px;

			.section-subtitle {
				margin-bottom: 10px;;
				text-transform: uppercase;
				font-size: 2rem;
				color: #808778;
				font-weight: 300;
			}
			p {
				margin-bottom: 0;
				padding-right: 25px;
				color: #808778;
				font-weight: 300;
			}
			.btn-container {
				position: relative;
				padding-top: 45px;
				margin-bottom: 30px;
			}
			.main-btn {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
	.img-container {
		@include phone {
			margin-bottom: 30px;
		}
		.bg-image {
			width: 100%;
			height: 471px;

			@include desktop-1440 {
				height: 471px;
			}
		}
	}
}

#dna {
	background-color: #f6f6f6;
	padding: 80px 0;

	.section-title {
		font-size: 5.5rem;
		letter-spacing: 20px;
		margin-bottom: -30px;

		@include phone {
			text-align: center;
		}
	}
	p {
		margin-bottom: 0;
	}
	.col-md-12 {
		display: flex;
		margin-bottom: 15px;

		@include phone {
			padding: 0;
			flex-direction: column;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.dna-box-wrapper {
		position: relative;

		.chica-logo {
			width: 350px;
			margin-left: 90px;

			@include phone {
				margin-left: 0;
				margin-bottom: 45px;
			}
		}
		.dna-box {
			padding: 30px;
			display: inline-flex;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			left: 0;
			min-width: 350px;

			@include phone {
				position: relative;
				min-width: 0;
				width: 100%;
			}
			&.red-bg {
				.box-title {
					color: white;
				}
				p {
					color: white;
				}
			}
			&.right-aligned {
				right: 0;
				left: auto;
			}
			&.top-aligned {
				bottom: auto;
				top: 0;
			}
			&.full-sized {
				width: 100%;
				height: 100%;
				position: relative;
				left: -15px;
				width: calc(100% + 15px);

				@include phone {
					width: 100%;
					left: 0;
				}
				p {
					position: absolute;
					bottom: 30px;
					right: 30px;

					@include phone {
						position: relative;
						bottom: 0;
						right: 0;
					}
				}
			}
			.box-title {
				font-size: 2.5rem;
				font-family: $font-primary;
				margin-bottom: 30px;

				@include phone {
					font-size: 2rem;
				}
				span {
					display: block;
					padding-left: 60px;
				}
			}
			p {
				text-align: right;
				color: $chica-darkgray;
				text-transform: uppercase;
				font-size: 1.5rem;
				line-height: 42px;
			}
		}
	}
}

#instragram-section {
	padding: 60px 0;

	.section-title {
		text-align: center;
		font-family: $font-secondary;
		text-transform: uppercase;
		font-family: $font-terciary;
		font-weight: 700;
		font-size: 2.8rem;

		span {
			display: block;
			text-transform: lowercase;
			font-weight: 400;
			font-size: 2.2rem;
		}
	}
	#sb_instagram {
		#sbi_images {
			.sbi_item {
				@include phone {
					width: 33.3%;
				}
				&:last-of-type {
					display: none;

					@include phone {
						display: block;
						float: left;
					}
				}
				.sbi_photo {
					@include phone {
						height: 150px !important;
					}
				}
			}
		}
	}
}

.header-pos-relative {
	.banner-page {
		&.has_background {
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
	}
}

.page-template-template-contato,
.page-template-template-lojas {
	.banner-page {
		@include phone {
			height: 230px;
			min-height: 230px !important;
		}
		.content-banner {
			.title-page.page-title {
				text-transform: uppercase;
				display: inline-flex;
				position: relative;
				font-weight: 300;
				letter-spacing: 2px;
				padding-bottom: 20px;

				&:before {
					transform: none;
					left: 0;
					width: 70px;
					border: 2px solid white;
				}
			}
		}
	}
	.container {
		// max-width: 700px;

		.section-info {
			text-transform: uppercase;
			color: #808778;
			position: relative;
			display: flex;

			@include phone {
				font-size: 1.3rem;
			}
			&.with-border {
				margin-bottom: 15px;
				padding-bottom: 5px;

				&:after {
					@extend %bfaf;
					background-color: $chica-red;
					height: 3px;
					width: 75px;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
}

.page-template-template-contato {
	.container {
		max-width: 500px;
	}
	.banner-page {
		&.has_background {
			.content-banner {
				// bottom: 70%;
			}
		}
		.content-banner {
			.container {
				text-align: right;
				max-width: 100%;
			}
		}
	}
	.wpp-container {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    border: 3px solid $chica-lightblu;
	    border-radius: 100px;
	    padding: 10px 65px;
	    margin-bottom: 60px;

		@include phone {
			padding: 10px 0;
		}
		img {
			height: 40px;
		}
		p {
			margin-bottom: 0;
			margin-left: 10px;
			color: $chica-lightblu;
			font-size: 2rem;
		}
	}
	.frm_style_formidable-style.with_frm_style {
		label.frm_primary_label {
			font-family: $font-secondary;
			color: #808778
		}
		.frm_button_submit {
			border-radius: 0;
			outline: none;
			border: none;
			font-family: $font-secondary;
			padding: 20px 50px 15px;
			margin-bottom: 40px;
		}
		.frm_form_field {
			&.form-field {
				textarea, input {
					border-radius: 0;
					resize: none;
				}
				input {
					height: 45px;
				}
			}
		}
	}
}

.page-template-template-lojas {
	.lojas-template {
		.col-md-6 {
			padding: 0 30px;

			@include phone {
				padding: 0;
			}
		}
	}
	.banner-page {
		&.has_background {
			.content-banner {
				bottom: 25%;
			}
		}
		.content-banner {
			.container {
				text-align: left;
			}
		}
	}
	.item-title {
		font-size: 2rem;
		text-transform: uppercase;
		color: #808778;
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 5px;

		&:after {
			@extend %bfaf;
			background-color: $chica-red;
			height: 3px;
			width: 75px;
			bottom: 0;
			left: 0;
		}
	}
	.loja-box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px 0;

		@include phone {
			flex-direction: column;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;

			@include phone {
				flex-direction: column-reverse;
			}
		}
		p {
			margin-bottom: 0;
		}
	}
	#resorts-container {
		padding: 60px 0;

		.section-title {
			padding: 0 45px;
			margin-bottom: 60px;

			@include phone {
				padding: 0 15px;
			}
			img {
				max-width: 400px;

				@include phone {
					width: 100%;
				}
			}
			h3 {
				padding-left: 45px;
				color: #808778;
				text-transform: uppercase;
				margin-top: 10px;
				letter-spacing: 1.3px;
				font-size: 2rem;

				@include phone {
					font-size: 1.4rem;
					padding-left: 20px;
				}
			}
		}
		#resorts-wrapper {
			margin-bottom: 30px;

			.col-md-4, .col-md-3 {
				padding: 0;
			}
			.resort-meta {
				padding: 45px;

				@include phone {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
		}
	}
}

.produtos-page {
	margin-top: 50px;

	.section-description {
		position: relative;
		margin-bottom: 45px;

		@include phone {
			margin-bottom: 0;
		}
		.section-title {
			font-family: $font-secondary;
			text-transform: uppercase;
			color: #808080;
		}
		p {
			font-size: 1.1rem;
		}
		.main-btn {
			padding-top: 4px;
			padding-bottom: 1px;
		}
	}
	.filtros-wrapper {
		margin-bottom: 50px;

		.filtros {
			display: flex;
			list-style: none;
			border-top: 1px solid #808080;
			border-bottom: 1px solid #808080;
			padding-left: 0;

			.filtros-item {
				flex-grow: 1;
				flex-basis: 0;
				text-align: center;
				font-size: 1.2rem;
				text-transform: uppercase;
				font-weight: 100;
				position: relative;
				top: 2px;
				cursor: pointer;
				padding: 10px 0;
				line-height: 1.2rem;
				transition: all .2s ease;
				font-family: $font-secondary;

				&:after {
					@extend %bfaf;
					right: 0;
					background-color: #808080;
					width: 1px;
					height: calc(100% - 16px);
					top: 6px;
				}
				&:last-of-type {
					&:after {
						content: none;
					}
				}
				&:hover, &.active {
					font-weight: 700;
					// background-color: #808080;
					// color: #fff;
					//
					// .filtros-item {
					// 	&:after {
					// 		top: 0;
					// 		height: 100%;
					// 	}
					// }
				}
			}
		}
		.filtros-mobile {
			width: 100%;
			border-radius: 20px !important;
			padding-right: 10px;
		}
	}
	.produtos-wrapper {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 45px;

		&.items-wrapper {
			.item {
				margin: 15px 0;
				height: 420px;

				@include phone {
					height: auto;
				}
				&.destaque {
					height: 870px;

					img {
						height: 850px;
					}
				}
				img {
					height: 400px;
					object-fit: cover;

					@include phone {
						height: auto;
					}
				}
				.img-wrapper {
					position: relative;

					.destaque-tag {
						position: absolute;
						background-color: $chica-red;
						color: white;
						right: 0;
						bottom: 15px;
						padding-left: 10px;
						padding-right: 10px;
						text-transform: uppercase;
					}
				}
				.item-title {
					padding: 10px 0;
				}
			}
		}
	}
}
