$phone-width: 319px;
$tablet-portrait: 768px;
$tablet-landscape: 1025px;
$laptop-width: 1201px;
$desktop-1366-width: 1367px;
$desktop-1440-width: 1441px;
$desktop-1280-width: 1281px;

$chica-cyan: #84D8E3;
$chica-lightblu: #CBE0F5;
$chica-red: #D54E66;
$chica-darkgray: #4B4B54;
$font-primary: 'Gloss Bloom', 'Arial';
$font-secondary: 'Josefin Sans';
$font-terciary: 'Caviar Dreams';

@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-portrait - 1px}) {
		@content;
	}
}

@mixin tablet-portrait {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : portrait) {
        @content;
    }
}

@mixin tablet-landscape {
    @media (min-width: #{$tablet-portrait}) and (max-width: #{$tablet-landscape - 1px}) and (orientation : landscape) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}

@mixin desktop-1366 {
    @media (max-width: #{$desktop-1366-width - 1px}) {
        @content;
    }
}

@mixin desktop-1440 {
    @media (max-width: #{$desktop-1440-width - 1px}) {
        @content;
    }
}

@mixin desktop-1280 {
    @media (max-width: #{$desktop-1280-width - 1px}) {
        @content;
    }
}

@font-face {
    font-family: Gloss Bloom;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Gloss_And_Bloom.ttf');
}

@font-face {
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/CaviarDreams.woff');
}

@font-face {
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Caviar_Dreams_Bold.woff');
}

%bfaf {
  content: "";
  position: absolute;
  display: block;
}

.bg-image {
	object-fit: cover;
}

.cyan-text {
	color: $chica-cyan !important;
}

.cyan-bg {
	background-color: $chica-cyan !important;
	color: white !important;
}

.blu-text {
	color: $chica-lightblu !important;
}

.blu-bg {
	background-color: $chica-lightblu !important;
	color: white !important;
}

.red-text {
	color: $chica-red !important;
}

.red-bg {
	background-color: $chica-red !important;
	color: white !important;
}

.darkgray-text {
	color: $chica-darkgray !important;
}

.main-btn {
	border-radius: 40px;
	padding: 0 25px;

	&:hover {
		color: white;
		background-color: $chica-lightblu;
	}
}

// CORPO GERAL
body {
	background-color: #E8EAEE;

	h1, h2 {
		font-family: $font-primary
	}
    h3, h4, h5, h6 {
        font-family: $font-secondary;
    }
    p {
        font-family: $font-secondary;
		font-size: 16px;
    }
    img {
        vertical-align: middle;
    }
    .mobile-only {
        display: none !important;

        @include phone {
            display: block !important;
        }
    }
	.hidden {
		display: none !important;
	}
}

// HEADER
header {
	.header-wrap {
		.is-sticky {
			.header-position {
				width: 100% !important;
			}
		}
	}
	.header-mobile {
		.logo {
			img {
				max-width: 100%;
			}
		}
	}
}

// FOOTER
footer {
	position: relative;
	padding: 20px 0;

	&:after, &:before {
		@extend %bfaf;
		top: 0;
		width: 50%;
		height: 100%;
		z-index: -1;

		@include phone {
			width: 100%;
		}
	}
	&:before {
		background-color: $chica-red;
		left: 0;

		@include phone {
			top: 0;
			height: 75%;
		}
	}
	&:after {
		background-color: $chica-lightblu;
		right: 0;

		@include phone {
			top: 75%;
			height: 25%;
		}
	}
	.footer-wrapper {
		display: flex;
		align-items: center;
		padding: 25px 0;
		max-width: 100%;
		padding-left: 35px;
		padding-right: 35px;
		justify-content: center;

		@include phone {
			flex-direction: column;
		}
		p {
			color: white;
			margin-bottom: 0;
		}
		// .textwidget {
		// 	&.custom-html-widget {
		// 		display: flex;
		// 		justify-content: center;
		// 		flex-direction: column;
		// 	}
		// }
		.meta-content {
			display: flex;
			align-items: center;

			img {
				width: 36px;

				&:last-of-type {
					margin: 0 10px 0 3px;
				}
			}
			p {
				font-size: 20px;
				text-transform: uppercase;
				position: absolute;
				right: 15px;
			}
		}
		.framed-box {
			border: 2px solid white;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			margin-top: 40px;

			img {
				width: 36px;
			}
			p {
				text-transform: uppercase;
				font-size: 24.5px;
				margin-bottom: 5px;
				margin-top: 6px;

				&:last-of-type {
					font-size: 32px;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
		.menu-principal-container {
			@include phone {
				position: relative;
				top: 42px;
			}
		}
		.menu {
			list-style: none;
			padding-left: 0;

			.menu-item {
				font-family: $font-secondary;

				a {
					color: $chica-red;
					position: relative;
					padding: 10px 0;
					// padding-left: 15px;
					font-size: 1rem;
					text-transform: uppercase;
					transition: all ease 0.2s;

					&:hover, &.active {
						padding-left: 10px;
						&:before {
							opacity: 1;
						}
					}
					&:before {
						@extend %bfaf;
						width: 1px;
						height: 100%;
						top: 0;
						left: 0;
						background-color: $chica-red;
						opacity: 0;
						transition: all ease 0.3s;
					}
				}
			}
		}
	}
}

#hits {
	padding: 80px 0;

	.section-meta {
		display: flex;

		@include phone {
			flex-direction: column;
		}
		.section-title {
			font-size: 5.5rem;
			letter-spacing: 20px;
			margin-right: 30px;

			@include phone {
				margin-top: 35px;
			}
		}
		.meta-content {
			padding-top: 30px;

			.section-subtitle {
				margin-bottom: 10px;;
				text-transform: uppercase;
				font-size: 2rem;
				color: #808778;
				font-weight: 300;
			}
			p {
				margin-bottom: 0;
				padding-right: 25px;
				color: #808778;
				font-weight: 300;
			}
			.btn-container {
				position: relative;
				padding-top: 45px;
				margin-bottom: 30px;
			}
			.main-btn {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
	.img-container {
		.bg-image {
			width: 100%;
			height: 471px;

			@include desktop-1440 {
				height: 471px;
			}
		}
	}
	.col-md-12 {
		&.col-3-wrapper {
			margin-top: 30px;
		}
		&:not(.col-3-wrapper) {
			&:before {

			}
		}
	}
}

#dna {
	background-color: #f6f6f6;
	padding: 80px 0;

	.section-title {
		font-size: 5.5rem;
		letter-spacing: 20px;
		margin-bottom: -30px;

		@include phone {
			text-align: center;
		}
	}
	p {
		margin-bottom: 0;
	}
	.col-md-12 {
		display: flex;
		margin-bottom: 15px;

		@include phone {
			padding: 0;
			flex-direction: column;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.dna-box-wrapper {
		position: relative;

		.chica-logo {
			width: 350px;
			margin-left: 90px;

			@include phone {
				margin-left: 0;
				margin-bottom: 45px;
			}
		}
		.dna-box {
			padding: 30px;
			display: inline-flex;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			left: 0;
			min-width: 350px;

			@include phone {
				position: relative;
				min-width: 0;
				width: 100%;
			}
			&.red-bg {
				.box-title {
					color: white;
				}
				p {
					color: white;
				}
			}
			&.right-aligned {
				right: 0;
				left: auto;
			}
			&.top-aligned {
				bottom: auto;
				top: 0;
			}
			&.full-sized {
				width: 100%;
				height: 100%;
				position: relative;
				left: -15px;
				width: calc(100% + 15px);

				@include phone {
					width: 100%;
					left: 0;
				}
				p {
					position: absolute;
					bottom: 30px;
					right: 30px;

					@include phone {
						position: relative;
						bottom: 0;
						right: 0;
					}
				}
			}
			.box-title {
				font-size: 2.5rem;
				font-family: $font-primary;
				margin-bottom: 30px;

				@include phone {
					font-size: 2rem;
				}
				span {
					display: block;
					padding-left: 60px;
				}
			}
			p {
				text-align: right;
				color: $chica-darkgray;
				text-transform: uppercase;
				font-size: 1.5rem;
				line-height: 42px;
			}
		}
	}
}

#instragram-section {
	padding: 60px 0;

	.section-title {
		text-align: center;
		font-family: $font-secondary;
		text-transform: uppercase;
		font-family: $font-terciary;
		font-weight: 700;
		font-size: 2.8rem;

		span {
			display: block;
			text-transform: lowercase;
			font-weight: 400;
			font-size: 2.2rem;
		}
	}
}

.page-template-template-contato,
.page-template-template-lojas {
	.header-pos-relative {
		.banner-page {
			&.has_background {
				margin: 0;
			}
		}
	}
	.container {
		// max-width: 700px;

		.section-info {
			text-transform: uppercase;
			color: #808778;
			position: relative;
			display: flex;

			&.with-border {
				margin-bottom: 15px;
				padding-bottom: 5px;

				&:after {
					@extend %bfaf;
					background-color: $chica-red;
					height: 3px;
					width: 75px;
					bottom: 0;
					left: 0;
				}
			}
		}
		.frm_style_formidable-style.with_frm_style {
			label.frm_primary_label {
				font-family: $font-secondary;
				color: #808778
			}
		}
	}
}

.page-template-template-lojas {
	.col-md-6 {
		padding: 0 30px;
	}
	.item-title {
		font-size: 2rem;
		text-transform: uppercase;
		color: #808778;
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 5px;

		&:after {
			@extend %bfaf;
			background-color: $chica-red;
			height: 3px;
			width: 75px;
			bottom: 0;
			left: 0;
		}
	}
	.loja-box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px 0;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		p {
			margin-bottom: 0;
		}
	}
	#resorts-container {
		padding: 60px 0;

		.section-title {
			padding: 0 45px;
			margin-bottom: 60px;

			img {
				max-width: 400px;
			}
			h3 {
				padding-left: 45px;
				color: #808778;
				text-transform: uppercase;
				margin-top: 10px;
				letter-spacing: 1.3px;
				font-size: 2rem;
			}
		}
		#resorts-wrapper {
			margin-bottom: 30px;

			.col-md-4 {
				padding: 0;
			}
			.resort-meta {
				padding: 45px;
			}
		}
	}
}
